@import "~scss/common.module";

.overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.overlay_bg {
  background-color: rgba(0, 0, 0, 0.8);
}


.modal_wrapper {
  //display: flex;
  ////position: absolute;
  ////top: 50%;
  ////left: 50%;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  ////transform: translate(-50%, -50%);
}


.close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 14px;
  right: 20px;
  z-index: 99;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity .2s linear;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  content: ' ';
  position: absolute;
  width: 2px;
  height: 33px;
  left: 15px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.spinner {
  width: 100px;
  height: 100px;
  animation: rotate 1.1s linear infinite;
  fill: $grey-700;
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}


