@import "~scss/mixins";
@import "~scss/variables";


.promo_wrapper {
  padding-bottom: 10px;
  background-color: $white-500;
}

.main-data {
  font-size: 120px;
}

.main-drow {
  color: yellow;

}
.promo {
  margin-bottom: 50px;
  padding-bottom: 15px;
}

.promo_section_title {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: 300;
  color: $grey;
}


.promo_list {
  display: flex;
  flex-wrap: wrap;
  @include wrapper-negative-margins();
}


.promo_list__item {
  display: flex;
  @include generate-columns-for-item(3);
  min-width: 220px;
  flex-direction: column;
  padding: 10px 5px 20px;

  overflow-x: hidden;

  color: $black-100;
  background-color: $white;
  transition: 0.25s linear;

  &:hover {
    box-shadow: -3px 4px 14px 3px $grey;
  }

  &:hover .promo_list__img {
    transform: scale(1.05);
  }

  @media (max-width: 1030px) {
    @include generate-columns-for-item(4);
  }

  @media (max-width: 885px) {
    @include generate-columns-for-item(6);
  }

  @media (max-width: 685px) {
    @include generate-columns-for-item(12);
  }
}


.promo_list__tag {
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: $white;
  text-transform: uppercase;
  background-color: $red-100;

  &__not_in_stock {
    text-decoration: line-through;
    background-color: $grey;
  }

  &__categorie {
    align-self: center;
    padding: 2px 5px;
    font-size: 10px;
  }
}

.promo_list__link {
  margin-bottom: 10px;
  text-align: center;
}


.promo_list__img {
  vertical-align: bottom;
  transition: 0.3s;
}

.promo_list__title {
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
}

.promo_list__price {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;

  &__old {
    margin-right: 10px;
    font-size: 15px;
    color: $grey;
    text-decoration: line-through;
  }
}

.promo_list__btn {
  padding: 8px 42px;
  border-radius: 3px;
}







