@import "~scss/common.module";

.spinner {
  width: 100px;
  height: 100px;
  animation: rotate 1.1s linear infinite;
  fill: $grey-700;
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
