/*  Фикс IE11 для прижатия футера к подвалу  */
html {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  color: $main-text-color;
}


/*  Базовый контейнер для блоков, не центруется, тянется до краев экрана (максимум взят за 2133px), доавлен padding
    для того, чтобы не мобильных текст не прижимался к краям, до мобильных разрешений padding не влияет
    Добавлятся блокам div или section, которые идут до краев экрана.
================================
*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


/*  Обертка-центровщик. Добавлятся блокам, которые занимают фиксированную максимальную ширину.
================================
*/

.wrapper {
  width: 100%;
  max-width: $wrapper-max-width;
  margin-right: auto;
  margin-left: auto;
}

/*  Идея в следующем:
    1. От body мы получаем flex и направление column, теперь все div первой вложенности идут друг под другом.
    2. Любому из них, например, контентному, даем класс container и flex
    3. И этот блок container тоже flex и тянется вниз из-за grow, но его элемент, с тегом main и классом content - нет
    4. Теперь тянем вниз и вложенный элемент, ему тоже задаем flex+column+grow.
    5. Все элементы тянутся вниз так, главное - поддержка вложенности, используя класс flex-grow-bottom
================================
*/
.flex-grow-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*================================*/




