@import "~scss/variables";

.btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 13;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: $red;
  cursor: pointer;
  transition: .4s linear;

  &:hover {
    background-color: darken($red, 15%);
  }

  &:active, &:focus {
    outline: 0;
  }

}
