{{> common/header}}

<div class="container container-checkout-bg">
    <div class="wrapper">
        <div class="modal-basket">
            <div class="line">
                <span class="line-stage">Ваша корзина</span>
                <span class="line-stage">Оплата и доставка</span>
                <span class="line-stage line-stage--unactive">Успешное оформление</span>
            </div>

            <form class="basket-form" action="/index.php" name="basket-form" method="POST">
                <div class="basket__wrapper">
                    <div class="basket-info">
                        <section class="basket-delivery">
                            <h2 class="basket-order-title">1. Доставка</h2>
                            <div class="basket-cards-wrapper">
                                <div class="basket-card basket-card--active">
                                    <div class="basket-card__info">
                                        <span> Доставка по Москве</span>
                                        <span class="basket-card__pay">бесплатно</span>
                                    </div>
                                    <div class="basket-card__extra">сегодня</div>
                                </div>

                                <div class="basket-card">
                                    <div class="basket-card__info">
                                        <span>Самовывоз</span>
                                        <span class="basket-card__pay">бесплатно</span>
                                    </div>
                                    <div class="basket-card__extra">Москва, Барклая 6, стр. 5, БЦ "Барклай Плаза" (м. Парк Победы)</div>
                                </div>

                                <div class="basket-card">
                                    <div class="basket-card__info">
                                        <span>Доставка по России</span>
                                        <span class="basket-card__pay">бесплатно</span>
                                    </div>
                                    <div class="basket-card__extra">
                                        <img src="/src/assets/img/other/basket-shipping.png" alt="shipping">
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="basket-customer">
                            <h2 class="basket-order-title">2. Покупатель</h2>
                            <div class="basket-form-user-data">
                                <label class="basket-form__label">
                                    <input class="basket-form__input" name="customer-name" type="text" maxlength="255" minlength="3" autocomplete="on" placeholder="Имя" required>
                                </label>
                                <label class="basket-form__label">
                                    <input class="basket-form__input" name="customer-phone" type="text" maxlength="255" minlength="3" autocomplete="on" placeholder="Телефон"
                                           required>
                                </label>
                                <label class="basket-form__label">
                                    <input class="basket-form__input" name="customer-email" type="email" maxlength="255" minlength="3" autocomplete="on" placeholder="Email"
                                           required>
                                </label>
                                <label class="basket-form__label basket-form__label--full-width">
                                    <input class="basket-form__input" name="customer-address" type="text" maxlength="255" minlength="3" autocomplete="on" placeholder="Адрес"
                                           required>
                                </label>
                                <label class="basket-form__label basket-form__label--full-width"><textarea class="basket-form__input" name="customer-comment" id="" cols="30"
                                                                                                           rows="10" placeholder="Комментарий"></textarea></label>
                            </div>

                        </section>

                        <section class="basket-checkout">

                            <h2 class="basket-order-title">3. Оплата</h2>

                            <div class="basket-cards-wrapper">

                                <div class="basket-card basket-card--active">
                                    <p class="basket-card__info">
                                        <span class="basket-card__title">Оплата наличными</span>
                                    </p>
                                </div>

                                <div class="basket-card">
                                    <p class="basket-card__info">
                                        <span class="basket-card__title">Электронными деньгами</span>
                                        <span class="basket-card__pay">бесплатно</span>
                                    </p>
                                    <span class="basket-card__epayment"><img src="/src/assets/img/other/basket-epayment.png" alt="epayment"></span>
                                </div>

                                <div class="basket-card ">
                                    <p class="basket-card__info">
                                        <span class="basket-card__title">Безналичный расчет (для юр. лиц)</span>
                                    </p>
                                </div>

                            </div>
                        </section>
                    </div>

                    <div class="basket-summary">
                        <h2 class="basket-summary__caption">Ваш заказ</h2>
                        <div class="basket-summary__item">
                            <div class="basket-summary__info">
                                <img class="basket-summary__img-sm" src="assets/img/oneplus_7pro-basket.png" alt="image">
                                <div class="basket-summary__info-inner-wrapper">
                                    <p class="basket-summary__product-title">Oneplus 7 Pro 12GB + 256GB (туманный синий)</p>
                                </div>
                                <span class="basket-summary__price--sm">44 000 р.</span>
                            </div>
                            <div class="basket-summary__counter-block">
                                <span class="basket-summary__counter basket-summary__counter-minus"></span>
                                <label><input class="basket-summary__counter-value" type="text" name="customer-product-count" value="1"/></label>
                                <span class="basket-summary__counter basket-summary__counter-plus"></span>
                            </div>
                        </div>
                        <div class="basket-summary__item">
                            <div class="basket-summary__info">
                                <img class="basket-summary__img-sm" src="assets/img/oneplus_8pro-basket.png" alt="image">
                                <div class="basket-summary__info-inner-wrapper">
                                    <p class="basket-summary__product-title">Oneplus 8 Pro 12GB + 256GB (ледяной зеленый)</p>
                                </div>
                                <span class="basket-summary__price--sm">74 000 р.</span>
                            </div>
                            <div class="basket-summary__counter-block">
                                <span class="basket-summary__counter basket-summary__counter-minus"></span>
                                <label><input class="basket-summary__counter-value" type="text" name="customer-product-count" value="1"/></label>
                                <span class="basket-summary__counter basket-summary__counter-plus"></span>
                            </div>
                        </div>

                        <div class="basket-summary__delivery-block">
                            <div class="basket-summary__delivery-fieldset">
                                <span class="basket-summary__delivery-item">Сумма:</span>
                                <span class="basket-summary__delivery-item">44 000 р.</span>
                            </div>
                            <div class="basket-summary__delivery-fieldset">
                                <span class="basket-summary__delivery-item">Доставка по Москве:</span>
                                <span class="basket-summary__delivery-item">0 р.</span>
                            </div>
                        </div>
                        <div class="basket-summary__checkout">
                            <span class="basket-summary__delivery-item">Итого:</span>
                            <span class="basket-summary__price--lg">44 000 р.</span>
                        </div>
                        <button class="btn btn-basket-order">Оформить заказ</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-confirm">
            <div class="modal-confirm__wrapper">
                <h2>Ваш заказ оформлен!</h2>
                <p>Наш менеджер свяжется с вами в ближайшее время.</p>
                <a class="confirm-order-redirect-link" href="/">Продолжить покупки</a>
            </div>
        </div>

        <div class="cart">
            <span class="close-modal">&times</span>
            <h2 class="cart__title">Товар добавлен в корзину</h2>
            <div class="shopping-list">
                <div class="shopping-list__img-wrapper">
                    <img class="shopping-list__img" src="https://fakeimg.pl/100x79/282828/?text=IMG" alt="generic_img">
                </div>
                <div class="shopping-list__items">
                    <div>
                        <span class="shopping-list__item-title">Товар: </span>
                        <span class="shopping-list__item-desc">OnePlus 8 Pro 8GB + 128GB</span>
                    </div>
                    <div>
                        <span class="shopping-list__item-title">Цена: </span>
                        <span class="shopping-list__item-desc">62 990 р.</span>
                    </div>
                    <div>
                        <span class="shopping-list__item-title">Цвет: </span>
                        <span class="shopping-list__item-desc">Ледяной зеленый</span>
                    </div>
                    <div>
                        <span class="shopping-list__item-title">Количество: </span>
                        <span class="shopping-list__item-desc">1 шт.</span>
                    </div>
                </div>
            </div>
            <div class="cart__controls">
                <a class="cart__btn-proceed" href="#">Продолжить покупки</a>
                <a class="btn cart__btn-arrange" href="#">Оформить заказ</a>
            </div>
        </div>

    </div>
</div>


{{> common/footer}}

