{{> common/header}}

<div class="categorie-bg">
    <img class="categorie-bg__img" src="assets/img/_cases_cat.jpg" alt="Категории">
    <h3 class="categorie-bg__title">Чехлы и Защита</h3>
</div>

<div class="container">
    <div class="wrapper">
        <h1 class="categorie-title">OnePlus 8</h1>

        <ul class=" categorie-item-list">
            {{#loop 12}}
                <li class="item-phone categorie-item categorie-item--phone-slider">
                    <span class="promo-list__tag promo-list__tag--categorie">В наличии</span>

                    <div class="categorie-img-wrapper">
                        <img class="phone-preview-lg gallery-img-first" src="assets/img/8_pro_onyx_black_1_180_367.png" alt="image">
                        <img class="phone-preview-lg gallery-img-first" src="assets/img/8_pro_onyx_black_2_180_367.png" alt="image">
                    </div>

                    <span class="item-title categorie-desc-text">Черный оникс</span>
                    <span class="item-title categorie-desc-text">8GB ОЗУ + 128GB внутренней</span>
                    <span class="item-price categorie-desc-text">62 990 р</span>
                    <button class="item-buy-btn btn">Купить</button>
                </li>
            {{/loop}}
        </ul>
    </div>
</div>

{{> partials/promotion-badge}}
{{> common/footer}}

