{{> common/header}}
{{> partials/slider}}


<section class="container product-order-bg">
    <div class="wrapper product-order">
        <div class="product-order__img-wrapper">
            <img class="product-order__img" src="assets/img/oneplus_bullets_wireless_600_1.png" alt="image">
            <div class="product-order__slider">
                <img class="" width="60" height="60" src="assets/img/oneplus_bullets_wireless_600_1-sm.png" alt="generic_img">
                <img class="" width="60" height="60" src="assets/img/oneplus_bullets_wireless_600_2-sm.png" alt="generic_img">
            </div>
        </div>
        <div class="product-order__info-wrapper">
            <h1 class="product-order__title">Беспроводные наушники OnePlus Bullets Wireless</h1>
            <p class="product-order__desc">OnePlus Bullets Wireless дают Вам ту свободу и удобство, которой Вам так не хватало.</p>
            <span class="product-order__price">
                        <span class="product-order__price--discount">46 990 р.</span> 42 990 р.
                    </span>
            <div class="product-order__btn-block">
                <button class="btn product-order__btn-add-to-cart">Добавить в корзину</button>
                <button class="btn product-order__btn-buy-by-click">Купить в один клик</button>
            </div>
            <span class="product-order__availability">Наличие: В наличии</span>
        </div>
    </div>
</section>

<section class="wrapper product-info">
    <nav class="product-info__nav">
        <a class="product-info__nav-link product-info__nav-link--active" data-id="#tab-features">Описание</a>
        <a class="product-info__nav-link" data-id="#tab-attributes">Характеристики</a>
        <a class="product-info__nav-link" data-id="#tab-delivery">Доставка и оплата</a>
    </nav>

    <!--     Блок особенностей  -->
    <div class="product-features tab tab-active" id="tab-features">
        <div class="product-features__wrapper">
            <h2 class="product-features__title">Освободите свою музыку</h2>
            <p class="product-features__desc">
                Откройте для себя мягкие высокие частоты и низкие басы, которые вы никогда не слышали раньше, благодаря новым и улучшенным аудио технологиям в наушниках OnePlus
                Bullets Wireless.
            </p>
            <img class="product-features__img" src="/src/assets/img/single-product/accessoires/oneplus_bullets_wireless/oneplus_bullets_wireless_600_1.png " alt="img">
        </div>

        <div class="product-features__wrapper">
            <h2 class="product-features__title">Чистый, мощный, превосходный звук</h2>
            <p class="product-features__desc">
                С двумя сбалансированными арматурными драйверами и одним 10-миллиметровым динамическим драйвером в каждом наушнике вам гарантировано превосходное качество
                прослушивания при каждом нажатии кнопки воспроизведения.
            </p>
            <img class="product-features__img" src="/src/assets/img/single-product/accessoires/oneplus_bullets_wireless/oneplus_bullets_wireless_600_3.jpg" alt="img">

        </div>

        <div class="product-features__wrapper">
            <h2 class="product-features__title">Магнитный контроль</h2>
            <p class="product-features__desc">
                Вы с легкостью можете приостановить воспроизведение музыки. Просто соедините наушники вместе и благодаря магнитному креплению они выключатся автоматически. Когда вы
                решите возобновить воспроизведение музыки, просто разделите их. Это очень просто!
            </p>

            <img class="product-features__img" src="/src/assets/img/single-product/accessoires/oneplus_bullets_wireless/oneplus_bullets_wireless_600_2.jpg" alt="img">
        </div>
    </div>

    <!--    Блок характеристик  -->
    <div class="product-attributes tab" id="tab-attributes">

        <h2 class="product-attributes__table-title">Общие характеристики</h2>

        <table class="product-attributes__table-data">
            <tbody>
            <tr>
                <td>Цвет</td>
                <td>зеркальный серый</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>смартфон</td>
            </tr>
            <tr>
                <td>Тип корпуса</td>
                <td>классический</td>
            </tr>
            <tr>
                <td>Материал корпуса</td>
                <td>стекло Gorilla Glass 6 от Corning</td>
            </tr>
            <tr>
                <td>Тип SIM-карты</td>
                <td> nano SIM</td>
            </tr>
            </tbody>
        </table>

        <h2 class="product-attributes__table-title">Экран</h2>

        <table class="product-attributes__table-data">
            <tbody>
            <tr>
                <td>Тип экрана</td>
                <td>Fluid AMOLED, сенсорный</td>
            </tr>
            <tr>
                <td>Тип сенсорного экрана</td>
                <td>мультитач, емкостный</td>
            </tr>
            <tr>
                <td>Диагональ</td>
                <td>6.67 дюйм.</td>
            </tr>
            <tr>
                <td>Размер изображения</td>
                <td>3120 x 1440</td>
            </tr>
            <tr>
                <td>Автоматический поворот экрана</td>
                <td>есть</td>
            </tr>
            </tbody>
        </table>

        <h2 class="product-attributes__table-title">Мультимедийные возможности</h2>
        <table class="product-attributes__table-data">
            <tbody>
            <tr>
                <td>Тыловая фотокамера</td>
                <td>тройная 8/16/48 МП</td>
            </tr>
            <tr>
                <td>Фотовспышка</td>
                <td>тыльная, светодиодная</td>
            </tr>
            <tr>
                <td>Функции тыловой фотокамеры</td>
                <td>автофокус, оптическая стабилизация</td>
            </tr>
            <tr>
                <td>Диафрагма тыловой фотокамеры</td>
                <td>f/1.6</td>
            </tr>
            <tr>
                <td>Макс. частота кадров видео</td>
                <td>60 кадров/с</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--    Блок доставки  -->
    <div class="delivery-rules tab" id="tab-delivery">

        <h2 class="delivery-rules__shipping-title">Доставка</h2>
        <h3 class="delivery-rules__shipping-city">Доставка по Москве</h3>
        <p class="delivery-rules__shipping-conditions">Самовывоз из магазина - сегодня, м. Парк Победы</p>
        <h3 class="delivery-rules__shipping-country">Доставка по России</h3>
        <p class="delivery-rules__shipping-conditions">Доставка транспортными компаниями: СДЭК, PickPoint, Boxberry, 390 р.</p>

        <h2 class="delivery-rules__payment-title">Оплата</h2>
        <p class="delivery-rules__payment-options">Наличными</p>
        <p class="delivery-rules__payment-options">Банковской картой</p>
        <p class="delivery-rules__payment-options">WebMoney, Яндекс.Деньги, QIWI</p>
    </div>
</section>

{{> partials/promotion-badge}}
{{> common/footer}}

