/*  МОБИЛЬНОЕ МЕНЮ
    Структура иконки мобильного меню: <div class="mobile-menu__icon"><span><span><div>
================================
*/
.mobile-icon-component {
  width: 44px;
  outline: none;
  background-color: transparent;
}

.mobile-icon-component::before, .mobile-icon-component::after, .mobile-icon-component span {
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  background-color: black;
  transition: all 0.2s ease-in-out;
}

/*  Класс, подключающийся к кнопке с класссом mobile-icon-component при клике, для трансформации
================================
*/
.mobile-icon-component--active::before {
  transform: translateY(12px) rotate(135deg);
}

.mobile-icon-component--active::after {
  transform: translateY(-12px) rotate(-135deg);
}

.mobile-icon-component--active span {
  transform: scale(0);
}
