@import "~scss/common.module";

.sort_wrapper {
  position: relative;
  width: 250px;
  margin-bottom: 30px;

  &:hover .list {
    display: flex;
    height: initial;
  }

  &:hover svg {
    transform: rotate(180deg);
  }
}


.sort_btn_default {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-size: .875rem;
  line-height: 1.25rem;
  border: 2px solid #e6e8f0;
  border-radius: 4px;
  background: #fff;



  & > svg {
    transition: transform .2s linear;
  }


}

.list {
  display: none;
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 10;
  flex-direction: column;
  background-color: $white;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: .3s linear;

  & > li {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    text-align: left;
    background-color: $white;
    cursor: pointer;
    transition: background-color .2s linear;

    &:hover {
      background-color: darken($white, 15%);
    }
  }
}

.sort_btn {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-align: left;
  background-color: $white;
  cursor: pointer;
}
