
.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: lightgrey;
}

.link {
  margin-right: 15px;
  padding: 10px;

  &:hover {
    background-color: red;
  }
}