<div class="cart hide-modal" style="display: none">
    <span class="close-modal">&times</span>
    <h2 class="cart__title">Товар добавлен в корзину</h2>
    <div class="shopping-list">
        <img class="shopping-list__img" src="https://fakeimg.pl/100x79/282828/?text=IMG" alt="generic_img">
        <div class="shopping-list__items">
            <div>
                <span class="shopping-list__item-title">Товар: </span>
                <span class="shopping-list__item-desc">OnePlus 8 Pro 8GB + 128GB</span>
            </div>
            <div>
                <span class="shopping-list__item-title">Цена: </span>
                <span class="shopping-list__item-desc">62 990 р.</span>
            </div>
            <div>
                <span class="shopping-list__item-title">Цвет: </span>
                <span class="shopping-list__item-desc">Ледяной зеленый</span>
            </div>
            <div>
                <span class="shopping-list__item-title">Количество: </span>
                <span class="shopping-list__item-desc">1 шт.</span>
            </div>
        </div>
    </div>
    <div class="cart__controls">
        <a class="cart__btn-proceed" href="#">Продолжить покупки</a>
        <a class="btn cart__btn-arrange" href="#">Оформить заказ</a>
    </div>
</div>
