<div class="slider slider-slick">
    <div>
        <a class="" href="#">
            <img class="slider__slider-img" src="assets/img/slider-1-lg-1920_600.jpg" alt="image">
        </a>
    </div>
    <div>
        <a class="" href="#">
            <img class="slider__slider-img" src="assets/img/slider-2-lg-1920_600.jpg" alt="image">
        </a>
    </div>
    <div>
        <a class="" href="#">
            <img class="slider__slider-img" src="assets/img/slider-3-lg-1920_600.jpg" alt="image">
        </a>
    </div>
    <div>
        <a class="" href="#">
            <img class="slider__slider-img" src="assets/img/slider-4-lg-1920_600.jpg" alt="image">
        </a>
    </div>
    <div>
        <a class="" href="#">
            <img class="slider__slider-img" src="assets/img/slider-5-lg-1920_600.jpg" alt="image">
        </a>
    </div>
</div>


