/*  Overlay
================================
*/

.aside-overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.aside-modal-close {
  position: absolute;
  right: 5px;
  font-size: 36px;
  font-weight: 900;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}


.inner-modal-hide {
  display: none;
}

.inner-modal {
  display: block;
  position: relative;
  min-width: 30%;
  max-width: 30%;
  min-height: 100px;
  background-color: $red;
}

.inner-modal-style {
  position: relative;
  min-width: 30%;
  max-width: 30%;
  min-height: 100px;
  background-color: $red;
}


.aside-overlay-body {
  overflow: hidden;
}
