/*  Эффект подчеркивания для ссылок  */
@mixin link-hover-underline-effect() {

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 0;
    height: 2px;
    background-color: red;
  }

  &:hover::after {
    width: 100%;
    transition: 0.2s;
  }
}


@mixin btn-hover-color-effect($bg-color: #b8001f, $border-radius: 0) {

  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.25s;
    background-color: $bg-color;
    border-radius: $border-radius;
  }

  &:hover::after, &:focus::after {
    width: 100%;
  }
}

@mixin overlay($z-index-overlay) {
  &::before {
    display: none;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $z-index-overlay;
    background-color: rgba(0, 0, 0, 0.7);
  }
}


@mixin wrapper-negative-margins($margin: 15) {
  margin-left: -$margin + px;
  margin-right: -$margin + px;
}

/*  Генеринруем свойства для нужного количества элементов, сочетается с медиа-запросами.
    $item-columns - количество колонок, для которых генерируем динамическую ширину
    $columns - общее количество колонок в блоке, от которых пойдет расчет
    $offset - отступы между колонками, общее число пикселей - 30, а значит - с каждой стороны по 15px
    $margin-bottom - отступ снизу, чтобы каждаая линия элементов не прилегала к нижеследующей
================================
*/
@mixin generate-columns-for-item($item-columns, $columns: 12, $offset: 30, $margin-bottom: 20) {
  width: calc(100% / #{$columns} * #{$item-columns} - #{$offset}#{px});
  margin-left: $offset/2 + px;
  margin-right: $offset/2 + px;
  margin-bottom: $margin-bottom + px;
}

