/*
 * Структура разметки
 * <div class="aside-overlay">
 *   <span class="loader"></span>
 * </div>
*/


.loader {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 12px;
  height: 12px;
  margin: 15px auto;
  color: $white;
  border-radius: 50%;
  animation: animloader 2s linear infinite;
}


@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
