

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*  Базовый контейнер для блоков, не центруется, тянется до краев экрана (максимум взят за 2133px), доавлен padding
    для того, чтобы не мобильных текст не прижимался к краям, до мобильных разрешений padding не влияет
    Добавлятся блокам div или section, которые идут до краев экрана.
================================
*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


/*  Обертка-центровщик. Добавлятся блокам, которые занимают фиксированную максимальную ширину.
================================
*/

.wrapper {
  width: 100%;
  max-width: $wrapper-max-width;
  margin-right: auto;
  margin-left: auto;
}






















