
.header {
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;

  li {
    margin-right: 15px;
    padding: 5px;
    background-color: lightgrey;

    a.active {
      font-size: 20px;
      color: red;
    }
  }
}
