@import "~scss/variables";

.cart {
  display: block;
  //position: relative;
  position: fixed;
  max-width: 550px;
  top: 50%;
  left: 50%;
  z-index: 12;
  padding: 10px 50px;
  text-align: center;

  border: 2px solid $grey-400;
  //width: 100%;
  border-radius: 5px;
  background-color: $white;
  transform: translate(-50%, -50%);

}

.cart__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #080808;
  text-align: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: -12px;
    left: 50%;
    margin-left: -20px;
    background-color: $grey-200;
  }
}


.close_modal {
  position: absolute;
  right: 10px;
  margin-top: -10px;
  font-size: 40px;
  color: $black-300;
  cursor: pointer;
  transition: .2s linear;

  &:hover {
    color: $grey-500;
  }
}

.shopping_list__img_wrapper {
  min-width: 130px;

  @media (max-width: 950px) {
    margin-bottom: 15px;
  }
}

.shopping_list__img {
  display: block;
  margin-right: 30px;
  @media (max-width: 950px) {
    width: 100%;
    margin-right: 0;
  }
}

.shopping_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: left;

  @media (max-width: 950px) {
    justify-content: center;
  }
}


.shopping_list__items {
  min-width: 240px;

  & > div:not(:last-child) {
    margin-bottom: 5px;
  }

  @media (max-width: 950px) {
    text-align: center;
  }
}

.shopping_list__item_title {
  font-size: 14px;
  color: $grey-200;
}

.shopping_list__item_price {
  font-size: 15px;
  font-weight: 300;
}


.cart__controls {
  display: flex;
  align-items: center;
  @media (max-width: 810px) {
    flex-direction: column;
  }

}

.cart__btn_proceed {
  font-size: 14px;
  font-weight: 300;
  color: $black-500;
  text-decoration: none;

  border-bottom: 1px dotted $grey-600;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 810px) {
    margin-bottom: 15px;
  }
}


.cart__btn_arrange {
  margin-left: auto;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  @media (max-width: 810px) {
    margin-left: initial;
  }
}
