
.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

// Данный блок тянется вниз максимально, пространство обеспечивается за счет height: 100vh для вышеуказанного layout
// Таким образом и прижимается вниз блок footer, для которого отпадает необходимость в margin-top: auto
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}



