
.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;

  a {
    display: block;
    height: 100%;
    background-image: url("img/error-404.png");
    background-size: cover;
  }
}









