@import "~scss/common.module";


.overlay_wrapper {
  position: relative;
  width: 100%;
  // для того, чтобы при первой загрузке блока категорий рэдер не прыгал вправо, поэтому скролл всегда будет при 101%
  //height: 101%;
  height: 100%;
}

.overlay {
  display: flex;
  position: absolute;
  width: 100%;

  //height: 101%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  //background-color: rgba(232, 232, 232, 0.5)

}

